{%extends 'blogapp/base_generic.html'%}
{%block content%}
    {%if validlink%}
        <p> Please Enter and Confirm Your NewPassword</p>
        <form action = "" method = "post">
            {%csrf_token%}
            <table>
                {{form.as_table}}
            </table>
            <input type = "submit" value="Change the password">
        </form>
    {%else%}
        <h1>Password reset Failed</h1>
        <p> password link was invalid possibly because the link is used</p>
    {%endif%}
{%endblock%}
